<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style type="text/css">

    </style>
    

</head>
<body>
    <div>
        <H1 class=main>Hello!</H1>
        <H2>This is my Web Site using Onion C web framework!</H2>
        <H2>Please fill in the blank below and Submit!</H2>
    </div>

    <div>
        <form action="hello" method="GET">
            First name:<br>
            <input type="text" name="firstname"><br>
            Last name:<br>
            <input type="text" name="lastname"><br><br>
            <input type="submit" value="Submit">
          </form>
    </div>

    <div>
        <h2 style="text-align: center; font-size: 100px;">Thank!</h2>
    </div>
    
</body>
</html>