<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/PageNotFound.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        
#content{
    background: white;
    height: 200px;
}

#image{
    background: white;
    height: 300px;
}

.p_content{
    display:block;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top:auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

    </style>
</head>
<body>
    <div id=main>
        <div id=content>
            <p class="p_content">Page Not Found...</p>
        </div>
        <!--
        <div id=image>
            <img class="center" src="image/wrench.png" alt="fade?"/>
        </div>
        -->
    </div>
</body>
</html>